In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_searches.csv')
df.head()

,portal_id,searched_date,origin,destination,departure_date,return_date,number_of_adults,number_of_children,number_of_seniors,flight_class,cheapest_total_fare,cheapest_engine,unique_airlines,country_code,region,city
0,92,2017-01-06,ZYR,BUD,2017-03-23,2017-03-25,1,0,0,1,271.799988,9,AF*KL KL*AF AF*SN KL*SN AF*LH KL*LH AF*AZ,-,-,-
1,92,2017-01-06,ZYL,DAC,2017-01-25,NaN,1,0,0,1,106.809998,9,BG,US,NEW JERSEY,WOODBRIDGE
2,200,2017-01-06,ZWS,NYC,2017-01-22,2017-05-30,1,0,0,1,523.660000,9,LH AB,-,-,-
3,92,2017-01-06,ZWI,SAV,2017-01-10,2017-01-19,1,0,0,1,372.899994,1,UA UA*AA,-,-,-
4,92,2017-01-06,ZWE,NYC,2017-03-26,2017-04-04,1,0,0,1,546.059998,1,KL*AF,NL,ZUID-HOLLAND,DORDRECHT

In [3]:
any(df.portal_id.isna())
df.portal_id = df.portal_id.map(dict(zip(df.portal_id.unique(),range(10))))

In [4]:
df.portal_id.value_counts()

0    10172
2     9952
3     2145
1     1040
6      837
5      483
7      417
8       72
4       68
9       14
Name: portal_id, dtype: int64

In [7]:
df.origin.unique()

array(['ZYR', 'ZYL', 'ZWS', ..., 'LKH', 'JEG', 'CKZ'], dtype=object)

In [10]:
df.cheapest_engine.unique()

array([  9,   1,  10,  19,  26, 104,  29,   6,  23,  14, 100,  22,   2,
        99, 105,  25,  20])

In [8]:
df['total_passengers'] = df.number_of_adults + df.number_of_children + df.number_of_seniors

# дата вылета - дата поиска

# kmodes