In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_searches.csv')
df.head()

,portal_id,searched_date,origin,destination,departure_date,return_date,number_of_adults,number_of_children,number_of_seniors,flight_class,cheapest_total_fare,cheapest_engine,unique_airlines,country_code,region,city
0,92,2017-01-06,ZYR,BUD,2017-03-23,2017-03-25,1,0,0,1,271.799988,9,AF*KL KL*AF AF*SN KL*SN AF*LH KL*LH AF*AZ,-,-,-
1,92,2017-01-06,ZYL,DAC,2017-01-25,NaN,1,0,0,1,106.809998,9,BG,US,NEW JERSEY,WOODBRIDGE
2,200,2017-01-06,ZWS,NYC,2017-01-22,2017-05-30,1,0,0,1,523.660000,9,LH AB,-,-,-
3,92,2017-01-06,ZWI,SAV,2017-01-10,2017-01-19,1,0,0,1,372.899994,1,UA UA*AA,-,-,-
4,92,2017-01-06,ZWE,NYC,2017-03-26,2017-04-04,1,0,0,1,546.059998,1,KL*AF,NL,ZUID-HOLLAND,DORDRECHT

In [9]:
any(df.portal_id.isna())
df.portal_id = df.portal_id.map(dict(zip(df.portal_id.unique(),range(10))))

False

In [13]:
df.portal_id.value_counts()

0    10172
2     9952
3     2145
1     1040
6      837
5      483
7      417
8       72
4       68
9       14
Name: portal_id, dtype: int64

In [14]:
df.origin.value_counts()

DXB    14
UIH    14
RJK    14
WDH    14
ZYL    14
OAK    14
OAJ    14
DRW    14
ZYR    14
DRO    14
DRG    14
OAX    14
PIK    14
PIB    14
NSI    14
NSN    14
MYU    14
RVN    14
UIO    14
UIN    14
PIX    14
MYJ    14
PIS    14
PIT    14
PIU    14
WMI    14
RJL    14
RJA    14
EBL    14
EBB    14
       ..
INL     1
UNG     1
ELD     1
LDS     1
EYK     1
NNT     1
HOT     1
RNL     1
MUN     1
DOL     1
RHI     1
CIX     1
PIN     1
TFI     1
ESL     1
CIT     1
KUD     1
TCZ     1
NUP     1
LRS     1
JKL     1
VAK     1
HXD     1
CIJ     1
RIS     1
PCW     1
LNE     1
GPA     1
EEK     1
JUH     1
Name: origin, Length: 2166, dtype: int64

# дата вылета - дата поиска